@import 'bootstrap';
@import 'font-awesome';

html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-weight: 500;
  font-size: 1rem;
  color: #222;
}

/* ----------------------------
header
---------------------------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-weight: 500;
  font-size: 1rem;
}

header {
  background: #111;
}

.banner-image {
  position: absolute;
  top: 35%;
  left: 50%;
  opacity: 0;
  z-index: 1;
  color: #fff;
  transform: translateX(-50%) translateY(-50%);
  animation: fade-in 0.75s 0.25s ease-in forwards;
  h1 {
    margin: 0;
    font-size: 4em;
    line-height: 1.2em;
    font-weight: bold;
  }
  h1:hover{
    color: #dee2e6;
  }
  p {
    margin: 0;
    font-size: 1.4em;
    font-style: italic;
    font-family: serif;
  }
  p:hover{
    color: #dee2e6;
  }
}

.headline {
  position: relative;
  height: 78px;
  color: #fff;
  text-align: center;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  animation: fade-in 0.75s 0.25s ease-in forwards;
}

.custom-nav {
  position: fixed;
  width: 100%;
  height: 78px;
  z-index: 10;
  ul {
    float: right;
    list-style: none;
    padding: 25px;
    margin: 0;
  }
  li {
    float: left;
  }
  a {
    font-size: 0.9em;
    color: #fff;
    text-decoration: none;
    margin: 5px 0 0 20px;
    display: block;
    &:hover {
      color: darken(#fff, 7%);
    }
  }
}

.logo {
  height: 75px;
  float: left;
  &:before, &:after {
    position: absolute;
    font-size: 7em;
    font-weight: 300;
    line-height: 0;
    color: #fff;
    top: 25px;
  }
  &:before {
    content: '\00BB';
    left: 20px;
  }
  &:after {
    content: '\00AB';
    left: 34px;
  }
}

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ----------------------------
index
---------------------------- */
.triptype {
  height: 96px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.06);
  border: 1px solid rgba(0,0,0,.1);
  background-color: #fff;
}

.triptype__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.triptype__cover {
  flex: 0 1 128px;
  height: 100%;
  position: relative;
}

.triptype__title {
  padding-left: 20px;
  flex: 1 1;
}

.bold, .coupon_action, .coupon_code {
  font-weight: 700;
}

.mb--0 {
  margin-bottom: 0!important;
}

.p--large {
  font-size: 20px;
}

.triptype__cover img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.slick-slide img {
  display: block;
}

.extra-bold{
  font-weight: bold;
  font-size: 25px;
}

.container.favorite-space {
  max-width: calc(1520px + 5.6rem);
  padding: 40px 2.8rem 40px;
  margin: auto;
}

.title {
  padding: 12px 0;
}

.title-location {
  padding: 50px 0 0;
}

.product__cover.image-tag{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.product__cover{
  position: relative;
  width: 100%;
}

.product__image {
  border-radius: .1875rem;
  width: 100%;
}

.image-tag {
  border-style: none;
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.product {
  margin-top: 1rem;
}

.is-relative {
  position: relative;
}

.product__content {
  bottom: 1.5rem;
  left: 1.5rem;
}

.is-absolute {
  position: absolute!important;
}

.product__title {
  margin-top: .75rem;
  font-size: 1.5rem;
  margin-bottom: .25rem;
}

.white, .white-deep * {
  color: #fff;
}

.product__price {
  color: hsla(0,0%,100%,.9);
}

.product__price {
  font-size: 1rem;
}

.d-block {
  display: block!important;
}

/* ----------------------------
footer
---------------------------- */

html, body{
  line-height: 1.5;
}

.content{
  width: 100%;
  margin: auto;
  margin-bottom: 350px; /* Same height as footer */
}

.fixed_footer{
  width: 100%;
  background: #111;
}

.fixed_footer p{
  color: #fff;
  font-weight: 300;
  font-size: 1.25em;
  padding: 25px 0 40px 0;
  text-align: center;
}

/* ----------------------------
footer social network
---------------------------- */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);

$rhino: #323b40;
$rhinoMid: #4f585e;
$teal: #0096a1;
$tealMid: #0ebac7;
$red: #fc625c;
$amber: #fdbc40;
$green: #34c748;
$offWhite: #e9eaea;

.social-media-links {
  overflow: hidden;
  padding-bottom: 4px;
  text-align: center;
  ul {
    margin: 0;
    padding: 7px;
  }
  li {
    display: inline;
    margin: 0;
    padding: 0;
  }
  a {
    border-bottom: 0px solid rgba(0,0,0,0.95);
    border-radius: 4px;
    box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0), 0 6px 8px rgba(0,0,0,0), 0 24px 24px rgba(0,0,0,0), 0 36px 36px rgba(0,0,0,0), 0 64px 64px rgba(0,0,0,0), 0 64px 128px rgba(0,0,0,0), 0 120px 0 rgba(0,0,0,0), 0 86px 8px 6px rgba(0,0,0,0),;
    display: inline-block;
    height: 30px;
    padding: 20px;
    position: relative;
    transition: .2s ease-in;
    width: 30px;
    svg {
      left: 20px;
      position: absolute;
      top: 20px;
      height: 30px;
      width: 30px;
      &.glow {
        path, circle {
          fill: rgba(0,0,0,0);
        }
      }
      path, circle {
        fill: $teal;
        transition: .2s ease-in;
      }
    }
  }

  a:hover {
    transform: translateY(-4px);
    box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1), 0 6px 8px rgba(0,0,0,0.05), 0 24px 24px rgba(0,0,0,0.05), 0 36px 36px rgba(0,0,0,0.05), 0 64px 64px rgba(0,0,0,0.15), 0 64px 128px rgba(0,0,0,0.15), 0 86px 8px 6px fadeout($tealMid, 75), 0 83px 4px 0px fadeout($tealMid, 5);
    svg {
      &.glow {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
        filter: blur(2px);
        path, circle {
          fill: fadeout($tealMid, 40);
        }
      }
      path, circle {
        fill: $tealMid;
      }
    }
  }
}

@media (min-width: 769px){
  .welcome {
    padding: 3rem 0;
  }
}

.welcome {
  background: linear-gradient(90deg,#f65e38 0,#f68a39 51%,#f65e38);
  padding: 3rem 0 5rem;
  color: #fff;
}

.container--sm {
  max-width: calc(1296px + 5.6rem);
}

@media (min-width: 1200px){
  .container #custom {
    padding: 0 2.8rem;
  }
}

.container #custom{
  margin: auto;
  padding: 0 1.25rem;
}

@media (min-width: 992px) {
  .title-welcome {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
}

.title-welcome {
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .welcome__desc {
    font-size: 1.125rem;
  }
}

.welcome__desc {
  font-size: .95rem;
  margin: 0;

  p {
    margin: 0 0 1rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  margin-top: 0;
  line-height: 1.25;
}

.main-content-sm {
  max-width: calc(1296px + 5.6rem);
}

@media (min-width: 1200px) {
  .main-content {
    padding: 0 2.8rem;
  }
}

.main-content {
  margin: auto;
  padding: 0 1.25rem;
}

.cusrow {
  flex-wrap: wrap;
  box-sizing: border-box;
  display: flex;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

@media (min-width: 992px) {
  .first-md {
    -ms-order: 1;
    order: 1;
  }
}

@media (min-width: 992px) {
  .cus-col {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
}

.cus-row-img {
  flex-wrap: wrap;
  box-sizing: border-box;
  display: flex;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

@media (min-width: 992px) {
  .cus-row-img .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .cus-row-img .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
}

.media {
  margin-top: 3rem;
  flex-direction: column;
  p {
    margin: 0 0 1rem;
  }
}

.media__title {
  margin: 1.5rem 0 .875rem;
  font-size: 1.125rem;
}


.media__content {
  color: #555;
}

.m--0 {
  margin: 0!important;
}

@media (min-width: 990px) {
  .account {
    margin-top: -6.875rem;
  }
}

@media (min-width: 768px) {
  .account {
    padding: 2rem;
  }
}

@media (min-width: 992px) {
  .cusrow .col-md-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}

.first-xs {
  -ms-order: 2;
  order: 2;
}

.account {
  padding: .975rem;
  background: #fff;
  box-shadow: 0 9px 46px 8px rgba(0,0,0,.02), 0 24px 38px 3px rgba(0,0,0,.04), 0 11px 15px -7px rgba(0,0,0,.05);
  border-radius: .625rem;
  margin-top: -3.375rem;
}

.account__title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.custom-checkbox.small label {
  line-height: 1.5rem;
}

.form-control-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 1.5rem 1rem;
}

.btn-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
}

.avatar-default-signup {
  width: 60px;
  height: 60px;
  border-radius: 50%
}

.preview-signup {
  position: relative;
  top: 10px;
  padding: 3px;
  cursor: pointer;
}

.control-label{
  font-weight: 700;
}

#error_explanation {
  color: red;
}

.custom-avatar-drop {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

#show-dropdown {
  position: relative;
  height: 52px;
}

#hidden-dropdown {
  visibility: hidden;
  position: absolute;
  background-color: #222;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.2);
  transition: .1s;
  opacity: 0;
  margin-left: 20px;
  margin-top: 27px;
  width: 104%
}

#hidden-dropdown a:hover {
  color: #999;
}

#show-dropdown:hover #hidden-dropdown {
  visibility: visible;
  opacity: 1;
}

.custom-col-3 {
  width: 23%;
  float: left;
}

.personal-info {
  float: left;
  margin-left: 15px;
}

.img-circle {
  margin-top: 9px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.label-profile {
  text-align: center;
}

.form-profile {
  width: 100%;
}

.align-attr {
  margin-top: 18px;
}

.margin-btn .btn {
  margin: 10px;
}

.preview-edit-profile {
  padding: 3px;
}

#exampleSlider {
  position: relative;
}

@media (max-width: 767px) {
  #exampleSlider {
    border-color: transparent;
  }
}

#exampleSlider .MS-content {
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 767px) {
  #exampleSlider .MS-content {
    margin: 0;
  }
}

#exampleSlider .MS-content .item {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  border-right: none;
  width: 20%;
}

@media (max-width: 1200px) {
  #exampleSlider .MS-content .item {
    width: 25%;
  }
}

@media (max-width: 992px) {
  #exampleSlider .MS-content .item {
    width: 33.3333%;
  }
}

@media (max-width: 767px) {
  #exampleSlider .MS-content .item {
    width: 50%;
  }
}

#exampleSlider .MS-content .item p {
  font-size: 30px;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
  padding: 10px 0;
}

#exampleSlider .MS-controls button {
  position: absolute;
  border: none;
  background: transparent;
  font-size: 30px;
  outline: 0;
  top: 35px;
}

@media (max-width: 767px) {
  #exampleSlider .MS-controls button {
    display: none;
  }
}

#exampleSlider .MS-controls button:hover {
  cursor: pointer;
}

#exampleSlider .MS-controls .MS-left {
  left: 10px;
}

@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-left {
    left: -2px;
  }
}

#exampleSlider .MS-controls .MS-right {
  right: 10px;
}

@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-right {
    right: -2px;
  }
}

.title-favorite-space {
  margin-bottom: 18px!important;
}

.item p img {
  width: 100%;
  padding: 0 10px;
}

.title-content {
  font-size: .75rem;
  text-transform: uppercase;
}

.article_content {
  padding: 0 8px;
}

#exampleSlider .MS-controls .MS-right {
  top: 40%;
}

#exampleSlider .MS-controls .MS-left {
  top: 40%;
}

.title-favorite {
  margin: 0px;
  padding-top: 20px;
}

.icon-favorite {
  display: inline;
  width: 32px;
  height: 32px;
}

.card {
  background: none;
}

.text-title {
  display: inline;
  padding: 0 15px;
}

.small {
  font-size: 13px;
}

.extra-bold span {
  font-size: 15px;
}

.address {
  padding-top: 10px;
}

.tales {
  width: 100%;
}

.carousel-showroomdetails {
  height: 400px;
}

.img-room-detail {
  width: 100%;
  height: 583px;
}

.favorite-room {
  width: 120%;
}

a.name-room {
  text-decoration: none;
  font-size: 20px;
  color: #333;
}

a.name-room:hover {
  color: red;
  transition: all .5s;
}

.image-banner {
  width: 100%;
}

.paginate-room {
  padding: 10px 40%;
}

.card-body.body-room.custom-size{
  padding: 5px 2px 10px 2px;
  min-height: 30vh;
}

.custom-paginate nav .pagination{
  float: right;
  padding-right: 33px;
}

ul.ui-autocomplete {
  position: fixed;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  z-index: 1000;
  overflow: auto;
  max-height: 400px;
}

#hs-wrapper{
  background-color: #f1efef;
  font-size: 10px;
  line-height: 1.625em;
  font-family: Open sans;
  font-weight: 400;
  color: #512b1a;
  margin: 40px;
}

.simple-container.note {
  border-color: #ca005d;
}
.simple-container.with-icon {
  padding-left: 44px;
  position: relative;
  height: 77px;
}
.simple-container.border {
  border-width: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.simple-container {
  padding: 1.25em 15px;
  border-radius: 4px;
  border: 1px solid #dbd8d6;
}

.simple-container.with-icon .icon {
  width: 18px;
  height: 30px;
  background-size: contain;
  background-position: top left;
  position: absolute;
  top: 21px;
  left: 15px;
}

.simple-container p {
  font-size: .75em;
  line-height: 1.6em;
  letter-spacing: .03em;
  padding: 0;
}
.strong {
  font-weight: 600;
}

.spacer-double {
  margin-top: 2.5em;
}

.homestay-container.no-shadow {
  box-shadow: inset 0 0 0 1px #dbd8d6;
}

.homestay-container {
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.homestay-container .body:last-of-type {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.homestay-container .body:not(.no-padding) {
  padding: 1.25em 15px;
}

.homestay-container > div {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.homestay-container .body .detail.lightbulb-icon {
  background-image: url("lightpub.png");
}

.homestay-container .body .detail.flush {
  margin-top: -1.25em;
  height: 80px;
}

.homestay-container .body .detail {
  width: 45px;
  height: 50px;
  float: right;
  margin-left: 0.4166666667em;
  margin-bottom: 0.4166666667em;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.lightbulb-icon {
  background: url("lightpub.png") center no-repeat;
}

h5 {
  font-size: .75em;
  line-height: 1.625em;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .03em;
}

#homestay-wizard #profile-sidebar .homestay-container ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  font-size: .9em;
}

h5 + p, h5 + ul {
  margin-top: .5em;
}

#homestay-wizard #profile-sidebar .homestay-container ul li {
  margin-left: .7em;
  text-indent: -.7em;
  line-height: 1.6em;
}

.homestay_wizard #sidebar-modal .homestay-container ul li::before, #homestay-wizard #profile-sidebar .homestay-container ul li::before {
  content: "• ";
}

#homestay-wizard #profile-sidebar .homestay-container ul li + li {
  margin-top: .3em;
}

#homestay-wizard #profile-sidebar .homestay-container ul li {
  margin-left: .7em;
  text-indent: -.7em;
  line-height: 1.6em;
}

.room {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

#homestay-wizard .room-tabs > li.active {
  box-shadow: none;
  padding: 1.25em 15px;
}

.room-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

.room-stacked > li {
  float: none;
}

.room-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.room > li {
  position: relative;
  display: block;
}

.tabs-room {
  width: 100%;
  float: left;
  background-color: #ca005d;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

.tab-content-room {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  min-height: 248px;
  border-radius: 10px;
}

.col-xs-12{
  width: 100%;
}

#new_room {
  padding: 0px 25px 35px 25px;
}

.btn-continue{
  float: right;
}

.create-room{
  padding: 0 26px;
  margin-top: 20px;
}

div#homestay-wizard {
  margin: 0;
}

/* checkbox utiliti */
.form-checbox {
  float: left;
  margin: 50px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.check-box-utility {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 0 40px 0 40px;
}

/* Hide the browser's default checkbox */
.check-box-utility input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check-box-utility:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-box-utility input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-box-utility input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-box-utility .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.control-label{
  font-weight: 700;
}

#add-price{
  margin: 6px 0;
}

#show-room-member{
  margin: auto;
  width: 90%;
}

.voucher {
  border: 1px solid #cbd4d4;
  padding: 0 15px;
}

.main-room {
  width: 50%;
  margin: auto;
}

.remove_fields {
  margin: auto;
  float: right;
}

/* ----------------------------
  show user
---------------------------- */
#show-avatar{
  width: 227px;
  height: 185px;
}

.profile{
  display: flex;
  flex-wrap: wrap;
  margin-right: 270px;
  margin-left: 270px;
}

.image_tag{
  width: 200px;
  height: 195px;
  border-radius: 50%;
  padding:10px;
}

.profile .basic-info{
  padding: 40px 25px;
  .user-wrapper{
    display: -webkit-box;
  }
  .username{
    font-size: 20px;
    line-height: 40px;
    font-weight: 200;
  }
  .edit-profile{
    margin-left: 20px;
    margin-top: 5px;
  }
  .edit-profile {
    font-size: 13px;
    padding: 4px 7px;
  }
  ul.posts{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 40px;
      font-size: 15px;
      span{
        color: #262626;
        font-weight: 600;
      }
    }
  }
  .name{
    font-size:15px;
    font-weight: 600;
  }
  .website{
    color: #003569;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
  }
}

.user-tabs{
  border-top: 1px solid #efefef;
  display: flex;
  justify-content: center;

  a.tab{
    height: 35px;
    margin-right: 50px;
    line-height: 45px;
    color: #999;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    i{
      padding-right: 1px;
    }
    &:hover{
      text-decoration: none;
    }
  }
  a.active{
    border-top: 1px solid #262626;
    color: #262626;
  }
}

.btn-edit-room {
  margin: 0 10px;
}

thead {
  text-align: center;
}

tbody {
  text-align: center;
}

.utility {
  width: 100%;
  padding: 8px 0;
}

.image-detail{
  width: 400px;
  border-radius: 4%;
  height: 300px;
  padding: 10px;
}
